:root {
  --color-background-footer: rgb(133, 196, 212);
  --color-background-footer-section: black;
  --color-text-footer: #fff;
  --color-filter-invert: invert(100%);
  --size-width-element-footer: 250px;
}

footer {
  width: 100%;
  margin-top: 1vh;
  background-color: var(--color-background-footer-section);
  color: var(--color-text-footer);
  font-size: 12px;
}

footer li {
  list-style: none;
  margin-bottom: 5px;
}

footer a {
  color: var(--color-text-footer);
}

footer section {
  display: flex;
  width: 100%;
}

footer section div {
  flex: 1;
}

#contact-footer {
  text-align: right;
  padding-right: 0.25vw;
}

#contact-footer li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

#logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-footer img,
li img {
  width: 150px;
  filter: var(--color-filter-invert);
}

li img {
  width: 20px;
  margin-right: 10px;
}

.copyright h4 {
  font-size: 2.4vh;
  margin: 0;
}
#nav-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#nav-footer button {
  list-style: none;
  margin-bottom: 5px;
  color: #fff;
}

#nav-footer button:hover {
  color: #db2525;
}

/* Para pantallas de tamaño enana y pequeña (como celulares) */
@media (max-width: 1090px) {
  footer {
    margin-top: 5vw;
    width: 95vw;
  }

  footer section {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }

  #contact-footer {
    text-align: center;
  }

  #contact-footer li {
    width: 100%;
    display: inline-block;
  }

  #logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li img {
    width: 20px;
    margin-right: 10px;
  }

  #nav-footer {
    width: 100%;
    display: flex;
    align-items: center;
  }

  #nav-footer button {
    list-style: none;
    margin-bottom: 1em;
  }

  footer section h4,
  #nav-footer h4 {
    text-align: left;
    margin-left: 4em;
  }

  #nav-footer h4{
    width: 100%;
    margin-left: 8em;
  }
}
