:root {
  --color-background-footer: rgb(133, 196, 212);
  --color-background-footer-section: black;
  --color-text-footer: #fff;
  --color-filter-invert: invert(100%);
  --size-width-element-footer: 250px;
}

footer {
  width: 100%;
  margin-top: 1vh;
  background-color: var(--color-background-footer-section);
  color: var(--color-text-footer);
  font-size: 12px;
}

footer li,
#nav-footer button {
  list-style: none;
  margin-bottom: 5px;
  color: var(--color-text-footer);
}

footer a {
  color: var(--color-text-footer);
}

footer section {
  display: flex;
  width: 100%;
}

footer section div {
  flex: 1;
}

#contact-footer {
  text-align: right;
  padding-right: 0.25vw;
}

#contact-footer li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

#logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li img,
#logo-footer img {
  width: 20px;
  filter: var(--color-filter-invert);
}

#logo-footer img {
  margin: 1.5em 0 1em 0;
  width: 175px;
}

footer h4 {
  margin: 0.5em 0 1em 0;
  font-size: 1.25em;
}

#nav-footer {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#nav-footer button:hover {
  color: #db2525;
}

.element-footer-contact img {
  margin-left: 0.8em;
  height: 1.5em;
  width: auto;
}

/* Para pantallas de tamaño enana y pequeña (como celulares) */
@media (max-width: 1090px) {
  footer {
    padding: 3em 0 1em 0;
    margin-top: 5vw;
    width: 95vw;
  }

  footer section {
    flex-direction: column-reverse;
    align-items: center;
  }

  #contact-footer {
    text-align: left;
  }

  #contact-footer li {
    align-items: flex-end;
    margin: 0.5em 0 1.5em 0;
  }

  #nav-footer h4 {
    margin-bottom: 1.6em;
  }

  #logo-footer img {
    margin: 3em 0 4em 0;
  }

  li img {
    margin-right: 10px;
  }

  #nav-footer {
    width: 100%;
    align-items: center;
  }

  #nav-footer button {
    margin-bottom: 1.1em;
  }

  footer section h4,
  #nav-footer h4 {
    text-align: left;
    margin-left: 4em;
  }

  #nav-footer h4 {
    width: 100%;
    margin-left: 8em;
  }

  footer section ul,
  #contact-footer ul {
    margin-top: 4em;
  }
}
