*{
    --size-width-tecnology:150px;
    --color-background-tecnologys: #eaa11b;
}
.tecnologys {
  background: var(--color-background-tecnologys);
  padding: 10px;
  display: grid;
  width: var(--width-componet);
  justify-items: start;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--size-width-tecnology), 1fr)
  );
  gap: 32px;
}


/* Para pantallas de tamaño enana y pequeña (como celulares) */
@media (max-width: 1090px) {
  .tecnologys {
    padding: 0;
    width: 100vw;
    gap: 0;
    grid-template-columns: repeat(
    auto-fit,
    minmax(35vw, 1fr)
  );
  }
}
