:root {
  --color-lavanda-pálido: #1dece1; /* Corregido a minúsculas para consistencia */
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: var(--width-componet);
  background: var(--color-lavanda-pálido);
}

.person h1 {
  font-size: 3rem;
  margin-left: 1em; /* Consolidado */
}

.person p {
  font-size: 1.2rem;
  max-width: 50rem;
  margin-left: 1em; /* Consolidado */
}

.person img {
  width: 20rem;
  margin-right: 1em;
  height: auto;
  border: 0.5rem solid #000;
  border-radius: 50%;
  object-fit: cover;
}

.person section {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Estilos para pantallas con un ancho menor a 670px */
@media (max-width: 670px) {
  .person {
    flex-direction: column-reverse;
    width: 100vw; /* Restablecido para ancho completo en pantallas pequeñas */
    padding: 0;
    justify-content: center;
  }

  #info {
    padding: 0 1em;
  }

  #info h1 {
    margin-top: 0;
  }

  #photo {
    height: 50vh;
    width: auto;
    margin: 0;
  }
}
