* {
  --color-background-proyect: #eaa11b;
  --color-background-proyects: #1dece1;
  /*Tamaño*/
  --size-width-proyect: 400px;
}
.proyects {
  background: var(--color-background-proyects);
  display: grid;
  width: 84vw;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--size-width-proyect), 1fr)
  );
  gap: 2em;
}

.proyect {
  margin: 1em;
  height: 450px;

  background: var(--color-background-proyect);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

  -webkit-box-shadow: 0px 0px 41px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 41px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 41px -11px rgba(0, 0, 0, 0.75);
}

.proyect img {
  width: 350px;
  height: 200px;
}
/* Para pantallas de tamaño enana y pequeña (como celulares) */
@media (max-width: 1090px) {
  .proyects {
    width: 81vw;
    max-width: 82vw;
    padding-bottom: 0;
    gap: 2em;
  }

  .proyect {
    margin: 0;
    margin-top: 1em;
    height: 62vh;
    max-width: 81vw;

    display: flex;
    padding: 0;
  }

  .proyect img {
    width: 20em;
  }

  .proyect h2 {
    margin: 0;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
  }

  .proyect p {
    width: 85%;
  }

  .proyect div {
    margin-bottom: 1em;
  }

  .proyect a {
    width: 15em;
    margin-bottom: 1em;
  }
}
